
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>



<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top"
  [ngClass]="{ transparent: !isScrolled, 'bg-blue': isScrolled }"
  style="z-index: 3"
>
  <div class="container">
    <a class="navbar-brand d-lg-none" href="#">
      <img
        src="/assets/images/logomo.png"
        alt="Logo"
        width="80"
        height="auto"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-start text-bg-dark"
      tabindex="-1"
      id="navbarSupportedContent"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><div class="circles orange"></div>
              HOME</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/courses"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><div class="circles red"></div>
              COURSES</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts"
              ><div class="circles green"></div>
              CONTACT US</a
            >
          </li>
          @if (alreadyLoggedIn) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/mycourse"
              ><div class="circles green"></div>
              MY COURSE</a
            >
          </li>
        }
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0 login">
          
          @if (!alreadyLoggedIn) {
          <!-- <li class="nav-item">
            <a
              class="nav-link active"
              routerLink="/auth/login"
              style="color: yellow"
              >LOG IN</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link active"  style="color: yellow" routerLink="/auth/register">REGISTER</a>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" type="button" (click)="signout()">LOGOUT</a>
          </li>
        } 
        </ul>
      </div>
    </div>
  </div>
</nav>
