<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<div class="wrap">
  <div class="container">
    <div class="row justify-content-between">
      @if(alreadyLoggedIn) {
        <div class="col d-flex align-items-center gap-3">
          <span class="fa fa-user" style="color: #fff"></span>
          <a type="text" style="text-decoration: none; color: white"
            >{{currentUserLoggedInEmail}}</a
          >
        </div>
      }
      
      <div class="col d-flex justify-content-end">
        <div class="social-media">
          <p class="mb-0 d-flex">

            <!-- <a href="https://www.facebook.com/profile.php?id=100064226825016" target="_blank" class="d-flex align-items-center justify-content-center"
              ><span><i class="fa-brands fa-facebook"></i></span>
          </a> -->
          <a type="button" class="d-flex align-items-center justify-content-center"
          ><span><i class="bi bi-bell"></i></span><span class="badge badge-danger">3</span>
      </a>
          
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/images/logomo.png"
        alt="Logo"
        width="80"
        height="auto"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
        <li
          class="nav-item active"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/courses">
            <!-- <div class="circles red"></div> -->
            COURSES</a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a href="#contacts" class="nav-link">Contacts</a>
        </li>
        @if(currentUserLoggedInRole == 'customer') {
          <li class="nav-item" [routerLinkActive]="'active'">
            <a routerLink="/mycourse" class="nav-link">My Applications</a>
          </li>
        }
        @if (currentUserLoggedInRole == 'admin') {
          <li class="nav-item" [routerLinkActive]="'active'">
            <a routerLink="/admin" class="nav-link">Go to Admin</a>
          </li>
        } 
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0 login">
        @if (!alreadyLoggedIn) {

        <li class="nav-item">
          <a class="nav-link active" routerLink="/auth/register">REGISTER</a>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link" type="button" (click)="signout()">LOGOUT</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
