<div class="mb-3">
  <h2 class="heading-style m-0 text-muted">Users</h2>
</div>
<div class="row">
  <div class="col-12">
    <div class="card shadow" style="border: none">
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-hover table-centered align-middle table-nowrap mb-0"
          >
            <thead class="table-active">
              <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Phone No.</th>
              </tr>
            </thead>
            <tbody>
              @for (data of getUsers;  track data.id) {
                <tr>
                  <th scope="row">
                    <a href="javascript:void(0);" class="fw-medium">{{
                      data.email
                    }}</a>
                  </th>
                  <td>{{ data.name }}</td>
  
                  <td>{{ data.phonenumber }}</td>
<!--   
                  <td [style.color]="item.status === 'active' ? 'blue' : 'red'">
                    {{ item.status }}
                  </td>
                  <td>
                    {{ item.email }}
                  </td> -->
                </tr> 

              }
            </tbody>
          </table>
        </div>
        <div class="row mt-3 align-items-center" id="pagination-element">
          <!-- <pagination
                    [totalItems]=""
                    [itemsPerPage]=""
                    (pageChanged)=""
                    [maxSize]=""
                  ></pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>
