<div class="bg-image w-100">
  <div class="hero container">
    <h1 class="heading-style" style="margin-top: 6rem">Fill up</h1>
    <p class="subheading" style="color: var(--custom-white)">
      Apply driving lesson now!
    </p>
  </div>
</div>

<section class="container" style="margin-top: 5rem; margin-bottom: 5rem">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="selected-course">
        <img src="/assets/images/img1.jpeg" alt="" />
      </div>
    </div>
    <div class="col-12 col-lg-1"></div>
    <div class="selected-course-info col-12 col-lg-5 d-flex align-items-center">
      <div class="d-flex flex-column">
        <h2 class="heading-style h2">DRIVING SCHOOL</h2>
        <span class="subheading" style="font-weight: 600"
          >(THEORETICAL/PRACTICAL)</span
        >
        <p>
          8 Lanes Driving School caters the following LTO Prerequisite:
          *Applicant for Student Permit (Theoretical) *Applicant for
          Non-Professional License (Practical Driving) *Applicant for
          Professional License (Practical Driving) *Applicant for Additional
          Restriction Code (Practical Driving) *License Conversion
          (Non-Professional to Professional).
        </p>
        <div class="offer">
          <p style="font-size: larger; font-weight: 600; color: #0b3c99">
            P3,750
            <span
              style="
                font-size: small;
                color: black;
                margin-left: 10px;
                font-weight: 500;
              "
              >30 mins</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container myform" style="margin-bottom: 3rem">
  <!-- <span class="subheading"
    >Fill up form or <a href="/auth/login"> log in</a></span
  > -->
  <form style="margin-top: 2rem">
    <!-- First Row (Large Screen) -->
    <div class="row" style="margin-bottom: 1rem">
      <div class="col-12 col-lg-4">
        <label for="inputLastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="inputLastName"
          placeholder="Warnakulahewa"
        />
      </div>
      <div class="col-12 col-lg-4">
        <label for="inputFirstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="inputFirstName"
          placeholder="Ente"
        />
      </div>
      <div class="col-12 col-lg-4">
        <label for="inputContact">Contact Number</label>
        <input
          class="form-control"
          type="tel"
          id="inputContact"
          placeholder="123-456-7890"
        />
      </div>
    </div>

    <div class="row" style="margin-bottom: 1rem">
      <div class="col-12">
        <label for="address">Address</label>
        <input
          class="form-control"
          id="address"
          placeholder="Enter Full Address"
        />
      </div>
    </div>

    <div class="row" style="margin-bottom: 1rem">
      <div class="col-12 col-md-6">
        <label for="selectCourse">Type of Courses</label>
        <select id="selectCourse" class="form-control">
          <option selected>Theoretical</option>
          <option>Practical</option>
        </select>
      </div>
      <div class="col-12 col-md-6">
        <label for="selectPayment">Payment Method</label>
        <select id="selectPayment" class="form-control">
          <option selected>Choose...</option>
          <option>Credit Card</option>
          <option>PayPal</option>
          <option>Cash</option>
        </select>
      </div>
    </div>

    <!-- Submit Button -->
    <div
      class="d-flex flex-column text-center align-items-center"
      style="margin-top: 2rem"
    >
      <p>
        Please fill out form and a 8 lanes Driving Personnel will contact you to
        process the enrollment and your driving schedule.
      </p>
      <button
        type="submit"
        class="btn1"
        style="background: #0b3c99; max-width: 200px"
      >
        Submit
      </button>
    </div>
  </form>
</section>
