<!-- <section class="w-100 h-100">
  <div class="wrapper container">
    <div class="container main">
      <div class="row" style="z-index: 2">
        <div
          class="left col-lg-6 d-flex flex-column justify-content-center"
          style="padding: 40px 40px 0 40px"
        >
          <div class="d-flex justify-content-center">
            <h1
              class="account-heading"
              style="text-align: center; color: var(--text-color)"
            >
              REGISTER
            </h1>
          </div>

          <form
            [formGroup]="signupForm"
            style="padding: 12px"
            (ngSubmit)="onSubmit()"
            class="d-flex flex-column justify-content-center w-100"
          >
            <div class="mb-1">
              <label for="name" class="form-label"
                >Name <span class="text-danger">*</span></label
              >
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control password-input"
                  [class.is-valid]="
                    signupForm.controls['name'].status != 'INVALID'
                  "
                  [class.is-invalid]="
                    signupForm.controls['name'].dirty &&
                    signupForm.hasError('required', 'name')
                  "
                  id="name"
                  formControlName="name"
                />
                @if(signupForm.controls['name'].dirty &&
                signupForm.hasError('required', 'name')) {

                <div class="invalid-feedback">Please provide a valid name.</div>

                } @else {
                <div class="valid-feedback">Looks Good!</div>
                }
              </div>
            </div>

            <div class="mb-1">
              <label for="email" class="form-label"
                >Email Address <span class="text-danger">*</span></label
              >
              <div class="position-relative">
                <input
                  type="email"
                  class="form-control password-input"
                  [class.is-valid]="
                    signupForm.controls['email'].status != 'INVALID'
                  "
                  [class.is-invalid]="
                    (signupForm.controls['email'].dirty &&
                      signupForm.hasError('required', 'email')) ||
                    (signupForm.controls['email'].dirty &&
                      signupForm.hasError('email', 'email'))
                  "
                  formControlName="email"
                  id="email"
                />
                @if( (signupForm.controls['email'].dirty &&
                signupForm.hasError('required', 'email') ) ||
                (signupForm.controls['email'].dirty &&
                signupForm.hasError('email', 'email') ) ) {

                <div class="invalid-feedback">
                  Please provide a valid email.
                </div>

                } @else {
                <div class="valid-feedback">Looks Good!</div>
                }
              </div>
            </div>
            <div class="mb-1">
              <label for="number" class="form-label"
                >Mobile Number <span class="text-danger">*</span></label
              >
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control password-input"
                  [class.is-valid]="
                    signupForm.controls['number'].status != 'INVALID' &&
                    !signupForm.hasError('pattern', 'number')
                  "
                  [class.is-invalid]="
                    (signupForm.controls['number'].dirty &&
                      signupForm.hasError('required', 'number')) ||
                    (signupForm.controls['number'].dirty &&
                      signupForm.hasError('pattern', 'number'))
                  "
                  formControlName="number"
                  id="number"
                  maxlength="11"
                />
                @if( (signupForm.controls['number'].dirty &&
                signupForm.hasError('required', 'number') ) ||
                (signupForm.controls['number'].dirty &&
                signupForm.hasError('pattern', 'number') ) ) {

                <div class="invalid-feedback">
                  Please Provide a Philippine Valid Mobile No. (09XXXXXXXXX)
                </div>

                } @else {
                <div class="valid-feedback">Looks Good!</div>
                }
              </div>
            </div>
            <div class="mb-1">
              <label for="password" class="form-label"
                >Password <span class="text-danger">*</span></label
              >
              <div class="position-relative">
                <input
                  type="password"
                  class="form-control password-input"
                  [class.is-valid]="
                    signupForm.controls['password'].status != 'INVALID' &&
                    !signupForm.hasError('pattern', 'password')
                  "
                  [class.is-invalid]="
                    (signupForm.controls['password'].dirty &&
                      signupForm.hasError('required', 'password')) ||
                    (signupForm.controls['password'].dirty &&
                      signupForm.hasError('pattern', 'password'))
                  "
                  formControlName="password"
                  id="password"
                />
                @if( (signupForm.controls['password'].dirty &&
                signupForm.hasError('required', 'password') ) ||
                (signupForm.controls['password'].dirty &&
                signupForm.hasError('pattern', 'password') ) ) {
                @if(!passwordFieldcontainsUppercase(f['password'].value)) {
                <div class="invalid-feedback">• Uppercase letters</div>
                } @if(!passwordFieldcontainsLowercase(f['password'].value)) {
                <div class="invalid-feedback">• Lowercase letters</div>
                } @if(!passwordFieldcontainsNumber(f['password'].value)) {
                <div class="invalid-feedback">• Numbers</div>
                }
                @if(!passwordFieldcontainsSpecialCharacters(f['password'].value))
                {
                <div class="invalid-feedback">• Special characters</div>
                } @if(f['password'].value.length < 8) {
                <div class="invalid-feedback">• At least 8 minimum</div>
                } } @else {
                <div class="valid-feedback">Looks Good!</div>
                }
              </div>
            </div>

            <div class="mb-1">
              <label class="form-label" for="confirmpassword"
                >Confirm Password <span class="text-danger">*</span></label
              >
              <div class="position-relative auth-pass-inputgroup mb-4">
                <input
                  formControlName="confirmpassword"
                  type="password"
                  class="form-control pe-5 password-input"
                  id="password-input"
                  [class.is-valid]="
                    signupForm.controls['confirmpassword'].status !=
                      'INVALID' &&
                    f['password'].value === f['confirmpassword'].value
                  "
                  [class.is-invalid]="
                    (signupForm.controls['confirmpassword'].dirty &&
                      signupForm.hasError('required', 'confirmpassword')) ||
                    f['password'].value !== f['confirmpassword'].value
                  "
                />
                @if( (signupForm.controls['confirmpassword'].dirty &&
                signupForm.hasError('required', 'confirmpassword')) ||
                (f['password'].value !== f['confirmpassword'].value) ) {

                <div class="invalid-feedback">
                  Confirm Password should match to your Password.
                </div>

                } @else {
                <div class="valid-feedback">Looks Good!</div>
                }

           
              </div>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="auth-remember-check"
              />
              <label class="form-check-label" for="auth-remember-check"
                >Agree with the Terms and Condition</label
              >
            </div>
            <div class="mt-4">
              <button class="account-btn w-100" type="submit">Sign Up</button>
            </div>
            <div class="mt-4 pt-2 text-center">
              <p>
                Already Have an Account?
                <a routerLink="/auth/login">Log in</a>
              </p>
            </div>
          </form>
        </div>
        <div class="right d-none d-lg-block col-lg-6 d-flex position-relative">
          <div
            class="d-flex h-100 flex-column justify-content-center"
            style="width: 428px; margin-left: 3rem"
          >
            <h1 class="account-heading">Start your journey with us.</h1>
            <p style="color: var(--custom-white)">
              Our specialized programs will empower you to become a SAFE driver
              for life.
            </p>
          </div>
          <div class="logo-account">
            <img src="/assets/images/logo-for-bar.png" alt="" routerLink="/" />
          </div>
          <div class="dots1">
            <img src="/assets/images/dots1.png" alt="" />
          </div>
          <div class="dots2">
            <img src="/assets/images/dots2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section
  class="py-5 position-relative d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="container">
    <div class="container row justify-content-center">
      <div class="card mb-0">
        <div class="row">
          <div
            class="left col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center"
            style="padding: 40px 10px"
          >
            <h2 style="text-align: center; color: var(--text-color)">
              REGISTER
            </h2>
            <div class="w-100 p-4">
              <form
                [formGroup]="signupForm"
                (ngSubmit)="onSubmit()"
                class="d-flex flex-column justify-content-center w-100"
              >
                <div class="mb-1">
                  <label for="name" class="form-label"
                    >Name <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control password-input"
                      [class.is-valid]="
                        signupForm.controls['name'].status != 'INVALID'
                      "
                      [class.is-invalid]="
                        signupForm.controls['name'].dirty &&
                        signupForm.hasError('required', 'name')
                      "
                      id="name"
                      formControlName="name"
                    />
                    @if(signupForm.controls['name'].dirty &&
                    signupForm.hasError('required', 'name')) {

                    <div class="invalid-feedback">
                      Please provide a valid name.
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>

                <div class="mb-1">
                  <label for="email" class="form-label"
                    >Email Address <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="email"
                      class="form-control password-input"
                      [class.is-valid]="
                        signupForm.controls['email'].status != 'INVALID'
                      "
                      [class.is-invalid]="
                        (signupForm.controls['email'].dirty &&
                          signupForm.hasError('required', 'email')) ||
                        (signupForm.controls['email'].dirty &&
                          signupForm.hasError('email', 'email'))
                      "
                      formControlName="email"
                      id="email"
                    />
                    @if( (signupForm.controls['email'].dirty &&
                    signupForm.hasError('required', 'email') ) ||
                    (signupForm.controls['email'].dirty &&
                    signupForm.hasError('email', 'email') ) ) {

                    <div class="invalid-feedback">
                      Please provide a valid email.
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>
                <div class="mb-1">
                  <label for="number" class="form-label"
                    >Mobile Number <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control password-input"
                      [class.is-valid]="
                        signupForm.controls['number'].status != 'INVALID' &&
                        !signupForm.hasError('pattern', 'number')
                      "
                      [class.is-invalid]="
                        (signupForm.controls['number'].dirty &&
                          signupForm.hasError('required', 'number')) ||
                        (signupForm.controls['number'].dirty &&
                          signupForm.hasError('pattern', 'number'))
                      "
                      formControlName="number"
                      id="number"
                      maxlength="11"
                    />
                    @if( (signupForm.controls['number'].dirty &&
                    signupForm.hasError('required', 'number') ) ||
                    (signupForm.controls['number'].dirty &&
                    signupForm.hasError('pattern', 'number') ) ) {

                    <div class="invalid-feedback">
                      Please Provide a Philippine Valid Mobile No. (09XXXXXXXXX)
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>
                <div class="mb-1">
                  <label for="password" class="form-label"
                    >Password <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="password"
                      class="form-control password-input"
                      [class.is-valid]="
                        signupForm.controls['password'].status != 'INVALID' &&
                        !signupForm.hasError('pattern', 'password')
                      "
                      [class.is-invalid]="
                        (signupForm.controls['password'].dirty &&
                          signupForm.hasError('required', 'password')) ||
                        (signupForm.controls['password'].dirty &&
                          signupForm.hasError('pattern', 'password'))
                      "
                      formControlName="password"
                      id="password"
                    />
                    @if( (signupForm.controls['password'].dirty &&
                    signupForm.hasError('required', 'password') ) ||
                    (signupForm.controls['password'].dirty &&
                    signupForm.hasError('pattern', 'password') ) ) {
                    @if(!passwordFieldcontainsUppercase(f['password'].value)) {
                    <div class="invalid-feedback">• Uppercase letters</div>
                    } @if(!passwordFieldcontainsLowercase(f['password'].value))
                    {
                    <div class="invalid-feedback">• Lowercase letters</div>
                    } @if(!passwordFieldcontainsNumber(f['password'].value)) {
                    <div class="invalid-feedback">• Numbers</div>
                    }
                    @if(!passwordFieldcontainsSpecialCharacters(f['password'].value))
                    {
                    <div class="invalid-feedback">• Special characters</div>
                    } @if(f['password'].value.length < 8) {
                    <div class="invalid-feedback">• At least 8 minimum</div>
                    } } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>

                <div class="mb-1">
                  <label class="form-label" for="confirmpassword"
                    >Confirm Password <span class="text-danger">*</span></label
                  >
                  <div class="position-relative auth-pass-inputgroup mb-4">
                    <input
                      formControlName="confirmpassword"
                      type="password"
                      class="form-control pe-5 password-input"
                      id="password-input"
                      [class.is-valid]="
                        signupForm.controls['confirmpassword'].status !=
                          'INVALID' &&
                        f['password'].value === f['confirmpassword'].value
                      "
                      [class.is-invalid]="
                        (signupForm.controls['confirmpassword'].dirty &&
                          signupForm.hasError('required', 'confirmpassword')) ||
                        f['password'].value !== f['confirmpassword'].value
                      "
                    />
                    @if( (signupForm.controls['confirmpassword'].dirty &&
                    signupForm.hasError('required', 'confirmpassword')) ||
                    (f['password'].value !== f['confirmpassword'].value) ) {

                    <div class="invalid-feedback">
                      Confirm Password should match to your Password.
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="auth-remember-check"
                  />
                  <label class="form-check-label" for="auth-remember-check"
                    >Agree with the Terms and Condition</label
                  >
                </div>
                <div class="mt-4">
                  <button class="account-btn w-100" type="submit">
                    <span style="color: #fff">Sign Up</span>
                  </button>
                </div>
                <div class="mt-4 pt-2 text-center">
                  <p>
                    Already Have an Account?
                    <a routerLink="/auth/login"
                      ><span style="font-weight: 700">Login</span></a
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>
          <div
            class="right d-none d-lg-block col-lg-6 d-flex position-relative"
          >
            <div
              class="d-flex h-100 flex-column justify-content-center"
              style="margin-left: 3rem; max-width: 428px"
            >
              <h2 style="color: #fff">Start your journey with us.</h2>
              <p style="color: #fff">
                Our specialized programs will empower you to become a SAFE
                driver for life.
              </p>
            </div>
            <div class="logo-account">
              <img
                src="/assets/images/logo-for-bar.png"
                alt=""
                routerLink="/"
              />
            </div>
            <div class="dots1">
              <img src="/assets/images/dots1.png" alt="" />
            </div>
            <div class="dots2">
              <img src="/assets/images/dots2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
