<div class="bg-image w-100">
  <div class="hero container d-flex">
    <h1 class="heading-style text-color-white">About Us</h1>
  </div>
</div>

<section class="course-section d-flex">
  <div class="container">
    <div class="row">
      <div class="course-contents col-12 col-lg-8">
        <div class="section head">
          <h1 class="heading-style h2">Our Profile</h1>
          <p class="subheading">
            At our driving school, we offer comprehensive driving lessons to
            help you become a confident and skilled driver. Whether you're a
            beginner or looking to brush up on your skills, our experienced
            instructors will provide personalized instruction to meet your
            needs.
          </p>
        </div>
        <div class="section mid">
          <h1 class="heading-style h2">Our Commitment to Excellence</h1>
          <p class="subheading">
            At 8 Lanes Driving School, we take pride in our unwavering
            commitment to providing top-notch driver education. Our dedication
            is rooted in creating a safe and supportive learning environment for
            every aspiring driver who walks through our doors.
          </p>
        </div>
        <div class="section bot">
          <h1 class="heading-style h2">Safety First, Always:</h1>
          <p class="subheading">
            Safety is at the forefront of everything we do. We adhere to the
            highest safety standards, ensuring that each lesson is conducted
            with the utmost care. Our certified instructors prioritize safety,
            instilling responsible driving habits that last a lifetime.
          </p>
        </div>
      </div>
      <div
        class="logo d-none d-lg-flex flex-lg-column align-items-lg-end col-4"
        style="height: 100%"
      >
        <div
          class="f"
          style="
            width: 155px;
            height: 155px;
            /* background: red; */
            border-radius: 50%;
          "
        >
          <img src="/assets/images/logomo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container testimonials mt-4 mb-5">
  <h1 class="heading-style h2">What Customers say to Us:</h1>

  <div class="row">
    <div class="testi col-12 col-lg-10">
      <img class="w-100" src="/assets/images/testi-1.png" alt="img1" />
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="testi col-12 col-lg-10">
      <img class="w-100" src="/assets/images/test-2.png" alt="img2" />
    </div>
  </div>

  <div style="text-align: center; margin-top: 3rem">
    <span
      ><a href="#" style="font-size: 19px; color: var(--text-color)"
        >See our FacebookPage</a
      ></span
    >
  </div>
</section>
