<!-- <section class="w-100 h-100">
  <div class="wrapper container">
    <div class="container main">
      <div class="row" style="z-index: 2">
        <div
          class="left col-lg-6 d-flex flex-column justify-content-center"
          style="padding: 40px 40px 0 40px"
        >
          <div class="d-flex justify-content-center">
            <h1
              class="account-heading"
              style="text-align: center; color: var(--text-color)"
            >
              LOGIN
            </h1>
          </div>
          <form
            [formGroup]="loginForm"
            style="padding: 36px"
            (ngSubmit)="onSubmit()"
            class="d-flex flex-column justify-content-center w-100"
          >
            <div class="mb-4">
              <label for="email" class="form-label"
                >Email <span class="text-danger">*</span></label
              >
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control password-input"
                  [class.is-valid]="loginForm.controls['email'].status != 'INVALID'" 
                  [class.is-invalid]="(loginForm.controls['email'].dirty && loginForm.hasError('required', 'email') ) || (loginForm.controls['email'].dirty && loginForm.hasError('email', 'email') )" 
                  formControlName="email"
                  id="email"
                  placeholder="Enter email"
                />

                @if( (loginForm.controls['email'].dirty && loginForm.hasError('required', 'email') ) || (loginForm.controls['email'].dirty && loginForm.hasError('email', 'email') )  ) {
                
                  <div class="invalid-feedback">
                  Please provide a valid email.
                </div>
              
              } @else {
                <div class="valid-feedback">
                  Looks Good!
                </div>
              }

              </div>
            </div>
            <div class="">
              <div class="float-end">
                <a
                  routerLink="/auth/pass-reset"
                  style="text-decoration: none"
                  class="text-muted"
                  >Forgot password?</a
                >
              </div>
              <label class="form-label" for="password-input"
                >Password <span class="text-danger">*</span></label
              >
              <div class="position-relative auth-pass-inputgroup mb-4">
                <input
                  formControlName="password"
                  type="password"
                  class="form-control pe-5 password-input"
                  [class.is-valid]="loginForm.controls['password'].status != 'INVALID'" 
                  [class.is-invalid]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" 
                  placeholder="Enter password"
                  id="password-input"
                />
                @if(loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')) {
                
                  <div class="invalid-feedback">
                  Please provide a password.
                </div>
              
              } @else {
                <div class="valid-feedback">
                  Looks Good!
                </div>
              }
                <button
                  class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                  type="button"
                  id="password-addon"
                ></button>

              </div>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="auth-remember-check"
              />
              <label class="form-check-label" for="auth-remember-check"
                >Remember me</label
              >
            </div>
            <div class="mt-4">
              <button class="account-btn w-100" type="submit">Log In</button>
            </div>
            <div class="mt-4 pt-2 text-center">
              <p>
                Don't have an account ?
                <a routerLink="/auth/register">Sign Up</a>
              </p>
            </div>
          </form>
        </div>
        <div class="right d-none d-lg-block col-lg-6 d-flex position-relative">
          <div
            class="d-flex h-100 flex-column justify-content-center"
            style="width: 428px; margin-left: 3rem"
          >
            <h1 class="account-heading">Start your journey with us.</h1>
            <p style="color: var(--custom-white)">
              Our specialized programs will empower you to become a SAFE driver
              for life.
            </p>
          </div>
          <div class="logo-account">
            <img src="/assets/images/logo-for-bar.png" alt="" />
          </div>
          <div class="dots1">
            <img src="/assets/images/dots1.png" alt="" />
          </div>
          <div class="dots2">
            <img src="/assets/images/dots2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section
  class="py-5 position-relative d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="container">
    <div class="container row justify-content-center">
      <div class="card mb-0">
        <div class="row">
          <div
            class="left col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center"
            style="padding: 40px 10px"
          >
            <h1
              class="account-heading"
              style="text-align: center; color: var(--text-color)"
            >
              LOG IN
            </h1>
            <div class="w-100 p-4">
              <form
                [formGroup]="loginForm"
                style="padding: 36px"
                (ngSubmit)="onSubmit()"
                class="d-flex flex-column justify-content-center w-100"
              >
                <div class="mb-4">
                  <label for="email" class="form-label"
                    >Email <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control password-input"
                      [class.is-valid]="
                        loginForm.controls['email'].status != 'INVALID'
                      "
                      [class.is-invalid]="
                        (loginForm.controls['email'].dirty &&
                          loginForm.hasError('required', 'email')) ||
                        (loginForm.controls['email'].dirty &&
                          loginForm.hasError('email', 'email'))
                      "
                      formControlName="email"
                      id="email"
                      placeholder="Enter email"
                    />

                    @if( (loginForm.controls['email'].dirty &&
                    loginForm.hasError('required', 'email') ) ||
                    (loginForm.controls['email'].dirty &&
                    loginForm.hasError('email', 'email') ) ) {

                    <div class="invalid-feedback">
                      Please provide a valid email.
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>
                <div class="">
                  <div class="float-end">
                    <a
                      routerLink="/auth/pass-reset"
                      style="text-decoration: none"
                      class="text-muted"
                      >Forgot password?</a
                    >
                  </div>
                  <label class="form-label" for="password-input"
                    >Password <span class="text-danger">*</span></label
                  >
                  <div class="position-relative auth-pass-inputgroup mb-4">
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control pe-5 password-input"
                      [class.is-valid]="
                        loginForm.controls['password'].status != 'INVALID'
                      "
                      [class.is-invalid]="
                        loginForm.controls['password'].dirty &&
                        loginForm.hasError('required', 'password')
                      "
                      placeholder="Enter password"
                      id="password-input"
                    />
                    @if(loginForm.controls['password'].dirty &&
                    loginForm.hasError('required', 'password')) {

                    <div class="invalid-feedback">
                      Please provide a password.
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                    <button
                      class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                      type="button"
                      id="password-addon"
                    ></button>
                  </div>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="auth-remember-check"
                  />
                  <label class="form-check-label" for="auth-remember-check"
                    >Remember me</label
                  >
                </div>
                <div class="mt-4">
                  <button class="account-btn w-100" type="submit">
                    Log In
                  </button>
                </div>
                <div class="mt-4 pt-2 text-center">
                  <p>
                    Don't have an account ?
                    <a routerLink="/auth/register">Sign Up</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
          <div
            class="right d-none d-lg-block col-lg-6 d-flex position-relative"
          >
            <div
              class="d-flex h-100 flex-column justify-content-center"
              style="margin-left: 3rem; max-width: 428px"
            >
              <h1 class="account-heading">Start your journey with us.</h1>
              <p style="color: var(--custom-white)">
                Our specialized programs will empower you to become a SAFE
                driver for life.
              </p>
            </div>
            <div class="logo-account">
              <img
                src="/assets/images/logo-for-bar.png"
                alt=""
                routerLink="/"
              />
            </div>
            <div class="dots1">
              <img src="/assets/images/dots1.png" alt="" />
            </div>
            <div class="dots2">
              <img src="/assets/images/dots2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
