<div
  class="modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  #forgotpasswordmodal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter your email</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control password-input"
          id="emailForResetPassword"
          placeholder="Enter email"
          [(ngModel)]="emailForResetPassword"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendEmailResetPassword()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>


<div
  class="modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  #errormodal
>
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Error!</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    {{errorMessage}}
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-dismiss="modal"
      aria-label="Close"
    >
      Close
    </button>
  </div>
</div>
</div>
</div>





<section  
  class="py-5 position-relative d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="container">
    <div class="container row justify-content-center">
      <div class="card mb-0">
        <div class="row">
          <div
            class="left col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center"
            style="padding: 40px 10px"
          >
            <h2 style="text-align: center; color: #1e1a22; font-weight: 700">
              LOG IN
            </h2>
            <div class="w-100 p-4">
              <form
                [formGroup]="loginForm"
                style="padding: 36px"
                (ngSubmit)="onSubmit(errormodal)"
                class="d-flex flex-column justify-content-center w-100"
              >
                <div class="mb-4">
                  <label for="email" class="form-label"
                    >Email <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control password-input"
                      [class.is-valid]="
                        loginForm.controls['email'].status != 'INVALID'
                      "
                      [class.is-invalid]="
                        (loginForm.controls['email'].dirty &&
                          loginForm.hasError('required', 'email')) ||
                        (loginForm.controls['email'].dirty &&
                          loginForm.hasError('email', 'email'))
                      "
                      formControlName="email"
                      id="email"
                      placeholder="Enter email"
                    />

                    @if( (loginForm.controls['email'].dirty &&
                    loginForm.hasError('required', 'email') ) ||
                    (loginForm.controls['email'].dirty &&
                    loginForm.hasError('email', 'email') ) ) {

                    <div class="invalid-feedback">
                      Please provide a valid email.
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>
                <div class="">
                  <div class="float-end">
                    <a
                      (click)="openForgotPasswordModal(forgotpasswordmodal)"
                      style="text-decoration: none; cursor: pointer;"
                      class="text-muted"
                      >Forgot password?</a
                    >
                  </div>
                  <label class="form-label" for="password-input"
                    >Password <span class="text-danger">*</span></label
                  >
                  <div class="position-relative auth-pass-inputgroup mb-4">
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control pe-5 password-input"
                      [class.is-valid]="
                        loginForm.controls['password'].status != 'INVALID'
                      "
                      [class.is-invalid]="
                        loginForm.controls['password'].dirty &&
                        loginForm.hasError('required', 'password')
                      "
                      placeholder="Enter password"
                      id="password-input"
                    />
                    @if(loginForm.controls['password'].dirty &&
                    loginForm.hasError('required', 'password')) {

                    <div class="invalid-feedback">
                      Please provide a password.
                    </div>

                    } @else {
                    <div class="valid-feedback">Looks Good!</div>
                    }
                  </div>
                </div>
                <div class="mt-4">
                  
                  @if (!isProcessingLogIn) {
                    <button class="account-btn w-100" type="submit">
                      <span style="color: #fff">Log in</span>
                    </button>
                  } @else {
                    <button class="btn btn-primary w-100" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Loading...
                    </button>
                  }          
                </div>
                <div class="mt-4 pt-2 text-center">
                  <p>
                    Don't have an account ?
                    <a href="/auth/register"
                      ><span style="font-weight: 700">Register</span></a
                    >
                  </p>
                  <p>
                    <a href="/"
                      ><span style="font-weight: 700">Back to Home</span></a
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>
          <div
            class="right d-none d-lg-block col-lg-6 d-flex position-relative"
          >
            <div
              class="d-flex h-100 flex-column justify-content-center"
              style="margin-left: 3rem; max-width: 428px"
            >
              <h2 style="color: #fff">Start your journey with us.</h2>
              <p style="color: #fff">
                Our specialized programs will empower you to become a QUALITY
                driver for life.
              </p>
            </div>
            <div class="logo-account">
              <img
                src="/assets/images/logo-for-bar.png"
                alt=""
                routerLink="/"
              />
            </div>
            <div class="dots1">
              <img src="/assets/images/dots1.png" alt="" />
            </div>
            <div class="dots2">
              <img src="/assets/images/dots2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
