<div class="bg-image w-100 vh-100">
  <div class="hero">
    <div class="container h-100 d-flex align-items-center" style="gap: 31px">
      <div
        class="secondNav d-none d-lg-flex w-100 justify-content-between"
        style="z-index: 2"
      >
        <a class="navbar-brand" href="#">
          <img
            src="/assets/images/logomo.png"
            alt="Logo"
            width="80"
            height="auto"
            style="width: 113px"
          />
        </a>
        <div class="icon-container desktop d-none d-xxl-flex gap-2">
          <div class="icon-content location" style="max-width: 267px">
            <div class="icon desktop">
              <svg
                width="45"
                height="45"
                viewBox="0 0 45 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="22.5" cy="22.5" r="22" stroke="#E8E8E8" />
                <path
                  d="M28.364 27.364L22 33.7279L15.636 27.364C12.1213 23.8492 12.1213 18.1508 15.636 14.636C19.1508 11.1213 24.8492 11.1213 28.364 14.636C31.8787 18.1508 31.8787 23.8492 28.364 27.364ZM22 25C24.2091 25 26 23.2091 26 21C26 18.7909 24.2091 17 22 17C19.7909 17 18 18.7909 18 21C18 23.2091 19.7909 25 22 25ZM22 23C20.8954 23 20 22.1046 20 21C20 19.8954 20.8954 19 22 19C23.1046 19 24 19.8954 24 21C24 22.1046 23.1046 23 22 23Z"
                  fill="#E8E8E8"
                />
              </svg>
            </div>
            <div class="address">
              <span style="font-size: 14px"
                >Diversion Road, San Gabriel, Tuguegarao City,
              </span>
            </div>
          </div>
          <div class="icon-content location">
            <div class="icon desktop">
              <svg
                width="46"
                height="45"
                viewBox="0 0 46 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="22.7505" cy="22.5" r="22" stroke="#E8E8E8" />
                <path
                  d="M13.2505 13H31.2505C31.8028 13 32.2505 13.4477 32.2505 14V30C32.2505 30.5523 31.8028 31 31.2505 31H13.2505C12.6982 31 12.2505 30.5523 12.2505 30V14C12.2505 13.4477 12.6982 13 13.2505 13ZM22.3111 21.6829L15.8977 16.2377L14.6033 17.7623L22.3236 24.3171L29.9049 17.7562L28.5961 16.2438L22.3111 21.6829Z"
                  fill="#E8E8E8"
                />
              </svg>
            </div>
            <div class="address">
              <span style="font-size: 14px">8lanes&#64;gmail.com</span>
            </div>
          </div>
          <div class="icon-content location">
            <div class="icon desktop">
              <svg
                width="46"
                height="45"
                viewBox="0 0 46 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="23.447" cy="22.5" r="22" stroke="#E8E8E8" />
                <path
                  d="M31.947 26.42V29.9561C31.947 30.4811 31.5411 30.9167 31.0175 30.9537C30.5801 30.9846 30.2233 31 29.947 31C21.1104 31 13.947 23.8366 13.947 15C13.947 14.7237 13.9625 14.3669 13.9934 13.9295C14.0304 13.4059 14.466 13 14.9909 13H18.5271C18.7838 13 18.9988 13.1944 19.0246 13.4498C19.0477 13.6791 19.0692 13.8631 19.0891 14.002C19.2914 15.4147 19.7046 16.7594 20.2957 18.003C20.3906 18.2026 20.3287 18.4416 20.1489 18.5701L17.9906 20.1118C19.3045 23.1811 21.7659 25.6425 24.8352 26.9565L26.3741 24.8019C26.5042 24.6199 26.746 24.5573 26.948 24.6532C28.1916 25.2439 29.5361 25.6566 30.9486 25.8584C31.0866 25.8782 31.2695 25.8995 31.4972 25.9225C31.7526 25.9483 31.947 26.1633 31.947 26.42Z"
                  fill="#E8E8E8"
                />
              </svg>
            </div>
            <div class="address">
              <span style="font-size: 14px">0926 857 5375</span>
            </div>
          </div>
        </div>
      </div>

      <section
        class="headings d-flex"
        style="
          z-index: 2;
          justify-content: center;
          flex-direction: column;
          gap: 15px;
        "
      >
        <div class="hero-content">
          <h1 class="heading-style text-color-white">
            8 Lanes Driving School:
          </h1>
          <p class="paragraph-style">
            Drive Safe, Confidently, Drive with Us!
          </p>
          <div class="buttons">
            <button class="btn1">
              <a
                routerLink="/form"
                style="text-decoration: none; color: var(--custom-white)"
                >Enroll Now</a
              >
            </button>
            <button class="btn2">About Us</button>
          </div>
        </div>

        <div
          class="icon-container d-flex gap-2 flex-column d-lg-none"
          style="margin-top: 14px"
        >
          <div class="icon-content location">
            <div class="icon">
              <svg
                width="45"
                height="45"
                viewBox="0 0 45 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="22.5" cy="22.5" r="22" stroke="#E8E8E8" />
                <path
                  d="M28.364 27.364L22 33.7279L15.636 27.364C12.1213 23.8492 12.1213 18.1508 15.636 14.636C19.1508 11.1213 24.8492 11.1213 28.364 14.636C31.8787 18.1508 31.8787 23.8492 28.364 27.364ZM22 25C24.2091 25 26 23.2091 26 21C26 18.7909 24.2091 17 22 17C19.7909 17 18 18.7909 18 21C18 23.2091 19.7909 25 22 25ZM22 23C20.8954 23 20 22.1046 20 21C20 19.8954 20.8954 19 22 19C23.1046 19 24 19.8954 24 21C24 22.1046 23.1046 23 22 23Z"
                  fill="#E8E8E8"
                />
              </svg>
            </div>
            <div class="address">
              <span>Diversion Road, San Gabriel, Tuguegarao City,</span>
            </div>
          </div>
          <div class="icon-content location">
            <div class="icon">
              <svg
                width="46"
                height="45"
                viewBox="0 0 46 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="22.7505" cy="22.5" r="22" stroke="#E8E8E8" />
                <path
                  d="M13.2505 13H31.2505C31.8028 13 32.2505 13.4477 32.2505 14V30C32.2505 30.5523 31.8028 31 31.2505 31H13.2505C12.6982 31 12.2505 30.5523 12.2505 30V14C12.2505 13.4477 12.6982 13 13.2505 13ZM22.3111 21.6829L15.8977 16.2377L14.6033 17.7623L22.3236 24.3171L29.9049 17.7562L28.5961 16.2438L22.3111 21.6829Z"
                  fill="#E8E8E8"
                />
              </svg>
            </div>
            <div class="address">
              <span>8lines&#64;gmail.com</span>
            </div>
          </div>
          <div class="icon-content location">
            <div class="icon">
              <svg
                width="46"
                height="45"
                viewBox="0 0 46 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="23.447" cy="22.5" r="22" stroke="#E8E8E8" />
                <path
                  d="M31.947 26.42V29.9561C31.947 30.4811 31.5411 30.9167 31.0175 30.9537C30.5801 30.9846 30.2233 31 29.947 31C21.1104 31 13.947 23.8366 13.947 15C13.947 14.7237 13.9625 14.3669 13.9934 13.9295C14.0304 13.4059 14.466 13 14.9909 13H18.5271C18.7838 13 18.9988 13.1944 19.0246 13.4498C19.0477 13.6791 19.0692 13.8631 19.0891 14.002C19.2914 15.4147 19.7046 16.7594 20.2957 18.003C20.3906 18.2026 20.3287 18.4416 20.1489 18.5701L17.9906 20.1118C19.3045 23.1811 21.7659 25.6425 24.8352 26.9565L26.3741 24.8019C26.5042 24.6199 26.746 24.5573 26.948 24.6532C28.1916 25.2439 29.5361 25.6566 30.9486 25.8584C31.0866 25.8782 31.2695 25.8995 31.4972 25.9225C31.7526 25.9483 31.947 26.1633 31.947 26.42Z"
                  fill="#E8E8E8"
                />
              </svg>
            </div>
            <div class="address">
              <span>0926 857 5375</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="s carousel-container d-none d-xxl-block" style="overflow: hidden">
    <div style="max-height: 500px">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img
              src="/assets/images/landing-img1(727x419).jpg"
              class="d-block w-100"
              alt="Slide 1"
              style="object-fit: cover"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="/assets/images/landing-img2(727x419).jpg"
              class="d-block w-100"
              alt="Slide 2"
              style="object-fit: cover"
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="/assets/images/landing-img3(727x419).jpg"
              class="d-block w-100"
              alt="Slide 3"
              style="object-fit: cover"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<section class="course-section">
  <div class="container">
    <div
      class="course-heading d-flex flex-column align-items-center"
      style="gap: 25px"
    >
      <h1 class="heading-style text-color-black">OUR COURSES</h1>
      <p class="subheading" style="text-align: center; max-width: 807px">
        At 8 Lanes Driving School, we prioritize your journey towards becoming a
        confident and responsible driver. Our services encompass both essential
        driving school programs and specialized driving tutorials, ensuring a
        tailored approach to your learning needs.
      </p>
    </div>

    <div
      class="courses d-flex flex-column flex-xxl-row gap-5 align-items-center justify-content-around"
    >
      <div class="course shadow fading-in">
        <img src="/assets/images/img1.jpeg " alt="" />
        <div
          class="title-box d-flex flex-column justify-content-center"
          style="text-align: center; background: #0b3c99"
        >
          <h2 class="heading-style h2" style="color: #fdfeff; margin-bottom: 0">
            DRIVING SCHOOL
          </h2>
          <span class="paragraph-style" style="font-size: 15px">
            (THEORETICAL/PRACTICAL)
          </span>
        </div>
      </div>
      <div class="course shadow fading-in">
        <img src="/assets/images/img3.jpg" alt="" />
        <div
          class="title-box d-flex flex-column justify-content-center"
          style="text-align: center"
        >
          <h2 class="heading-style h2" style="color: #fdfeff">
            DRIVING TUTORIAL
          </h2>
        </div>
      </div>
    </div>

    <div style="text-align: center; margin-top: 3rem">
      <span><a href="#" style="font-size: 19px">View our courses</a></span>
    </div>
  </div>
</section>

<section class="about-section d-lg-flex" style="position: relative">
  <div
    class="container about-content d-flex flex-column align-items-center gap-3"
    style="z-index: 2"
  >
    <div class="about-logo fading-in">
      <img src="/assets/images/8lanes-m.png" alt="" />
    </div>
    <h2 class="heading-style h2">ADVANTAGE</h2>
    <p class="subheading" style="text-align: center">
      With our comprehensive driving lessons, you'll gain the skills and
      confidence needed to pass your driving test.
    </p>
    <button class="btn1">
      <a
        routerLink="/about"
        style="text-decoration: none; color: var(--custom-white)"
        >About Us</a
      >
    </button>
  </div>

  <div class="image-check-adv">
    <!-- <h2>content</h2> -->

    <!-- this is for min width 404px-->
    <img class="d-lg-none" src="/assets/images/bar-m.png" alt="" />
    <img
      class="d-none d-lg-block"
      style="position: absolute; left: 0"
      src="/assets/images/bar-tablet.png"
      alt=""
    />
  </div>
</section>

<section
  id="contacts"
  class="container location-section d-flex flex-column-reverse flex-lg-row align-items-center gap-5"
>
  <div class="img-location shadow fading-in">
    <!-- <img src="/assets/images/loc-img.png" alt="location" /> -->
    <div id="map"></div>
  </div>
  <div style="max-width: 547px">
    <h1 class="heading-style text-color-black text-center mt-3">
      OUR LOCATION
    </h1>
    <p class="subheading text-center">
      Visit or office at Diversion Road Near Department of Agriculture
    </p>
    <p class="subheading text-center">
      Inquire at <a href="tel:+09268575375">+0926 857 5375</a> or
      <a href="tel:+639423827688">+63.942.382.7688</a> from Monday – Saturday,
      8:00am – 6:00pm.
    </p>
  </div>
</section>
