<div class="bg-image w-100">
  <div class="hero container">
    <h1 class="heading-style" style="margin-top: 6rem">Courses</h1>
    <p class="subheading" style="color: var(--custom-white)">
      Choose from a variety of training vehicles and schedules that fit your
      needs
    </p>
  </div>
</div>

<section class="container" style="margin-top: 5rem; margin-bottom: 5rem">
  <div class="c-container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="d-flex flex-column">
          <div class="course" style="width: 100%">
            <img src="/assets/images/img1.jpeg" alt="" />
            <div
              class="title-box d-flex flex-column justify-content-center"
              style="text-align: center; background: #0b3c99"
            >
              <h2 style="color: #fdfeff; margin-bottom: 0">
                <a
                  routerLink="/form"
                  class="heading-style h2"
                  style="text-decoration: none"
                  >DRIVING SCHOOL</a
                >
              </h2>
              <span class="paragraph-style" style="font-size: 15px">
                (THEORETICAL/PRACTICAL)
              </span>
            </div>
          </div>
          <p style="width: 100%; margin-top: 2rem">
            8 Lanes Driving School caters the following LTO Prerequisite:
            *Applicant for Student Permit (Theoretical) *Applicant for
            Non-Professional License (Practical Driving) *Applicant for
            Professional License (Practical Driving) *Applicant for Additional
            Restriction Code (Practical Driving) *License Conversion
            (Non-Professional to Professional).
          </p>
          <div class="offer">
            <p style="font-size: larger; font-weight: 600; color: #0b3c99">
              P3,750
              <span
                style="
                  font-size: small;
                  color: black;
                  margin-left: 10px;
                  font-weight: 500;
                "
                >30 mins</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="d-flex flex-column">
          <div class="course" style="width: 100%">
            <img src="/assets/images/img2.jpeg" alt="" />
            <div
              class="title-box d-flex flex-column justify-content-center"
              style="text-align: center"
            >
              <h2
                class="heading-style h2"
                style="color: #fdfeff; margin-bottom: 0"
              >
                DRIVING TUTORIAL
              </h2>
            </div>
          </div>
          <p style="width: 100%; margin-top: 2rem">
            8 Lanes Driving School is an LTO Accredited institution for learning
            about driving theory and driving skills, Also, molding you to become
            a knowledge equipped, disciplined and quality driver.
          </p>
          <p>Practical Driving Course (PDC) 8 hrs per Restriction Code</p>
          <div class="offer">
            <p style="font-size: larger; font-weight: 600; color: #0b3c99">
              P2,500
              <span
                style="
                  font-size: small;
                  color: black;
                  margin-left: 10px;
                  font-weight: 500;
                "
                >(A & A1)</span
              >
            </p>
          </div>
          <div class="offer">
            <p style="font-size: larger; font-weight: 600; color: #0b3c99">
              P4,000
              <span
                style="
                  font-size: small;
                  color: black;
                  margin-left: 10px;
                  font-weight: 500;
                "
                >(B , B1 & B2)</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container other-offers" style="margin-bottom: 5rem">
  <h1 class="heading-style">Other Offers</h1>
  <p><a href="" class="subheading">4 wheels for Code B,B1,B2</a></p>
  <p>
    <a href="" class="subheading">MOTORCYCLE & TRICYCLE for CODE A and A1</a>
  </p>
</section>
